<div class="container">
    <form [formGroup]="searchProductForm" (ngSubmit)="searchBookById()">
        <div class="form-group">
            <label for="search">Enter Product Id to Search</label>
            <input id="serach" class="form-control" type="text" formControlName='searchId'>
        </div>
        <div class="form-group">
            <input id="" class="btn btn-primary" type="submit" value="Search">
        </div>
    </form>
</div>
<div class="container" *ngIf="!flag" [style.display]='displayX'>
    <h3>Book Not Found</h3>
</div>
<div class="container" *ngIf="flag" [style.display]='displayX'>
    <table class="table table-light">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Price</th>
                <th>ISBN</th>
                <th>Year of Publication</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.author}}</td>
                <td>{{product.price}}</td>
                <td>{{product.ISBN}}</td>
                <td>{{product.DoP}}</td>

            </tr>
        </tbody>
    </table>
</div>