<div class="container">
    <table class="table table-light">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>ISBN</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let product of productList'>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.ISBN}}</td>
            </tr>
        </tbody>
    </table>
</div>