<div class="container">
    <table class="table table-light">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Author</th>
                <th>Price</th>
                <th>ISBN</th>
                <th>Year of Publication</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let product of productList'>
                <td>{{product.id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.author}}</td>
                <td>{{product.price}}</td>
                <td>{{product.ISBN}}</td>
                <td>{{product.DoP}}</td>

                <td>
                    <a routerLink="/update-book/{{product.id}}"> <i class="fas fa-edit"></i></a>
                    <a (click)="deleteBook(product.id)"><i class="fas fa-trash ms-3"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>